@import "~bootstrap/scss/bootstrap.scss";
#app{
    display: flex;
    background-image: url("../img/plant.jpg");
    background-size: cover;
    height: 100vh;
}
.counter_numbers{
    display: flex;
    margin-top: 12rem;
    display: flex;
	min-width:1.125em;
	letter-spacing: .25em;
	text-indent: .25em;
}
.counter_numbers div{
    font-size: 60px;
    color:#edebeb;
	background-color:#333232;
    width: 4rem;
    height: 6rem;
    border-radius:.125em;
    margin-left:.0800em;
	margin-right:.0800em;
    box-shadow:0 .125em .3125em rgba(0, 0, 0, .25), 0 .02125em .06125em rgba(0, 0, 0, .25);
    
}